<nav class="header">
  <h1><a href="/">GritAcademy</a></h1>
  <ul class="navbar">
    <li><a href="/students">students</a></li>
    <li><a href="/courses">courses</a></li>
    <li><a href="/courses-students">students courses</a></li>
  </ul>
</nav>
